<!-- wp:template-part {"slug":"main-header","theme":"data-science-specialist","tagName":"header","className":"front-header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

  <!-- wp:pattern {"slug":"data-science-specialist/main-banner"} /-->

  <!-- wp:pattern {"slug":"data-science-specialist/service-section"} /-->

  <!-- wp:pattern {"slug":"data-science-specialist/blog-section"} /-->

  <!-- wp:pattern {"slug":"data-science-specialist/contact-section"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"data-science-specialist","tagName":"footer","className":"footer-home"} /-->